<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Export manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "export_manager/application", media: "all" %>

  <%= javascript_include_tag 'export_manager/application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav class="navbar">
    <div class="logo"><span class="green">Export Manager</span></div>
    <ul>
      <li class="<%= 'active' if request.path == '/export' %>">
        <a href="/export">Dashboard</a>
      </li>
    </ul>
  </nav>

  <section class="export-container">
    <%= yield %>
  </section>

</body>
</html>
