<!DOCTYPE html>
<html>
<head>
  <title>Export manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "export_manager/application", media: "all" %>

  <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js" %>
</head>
<body>

  <%= yield %>

</body>
</html>
